<header>
    <a href="{{ path('index') }}">Encycl'eau</a>

    <a href="#" class="isDisabled">EDA 2018</a>
    <a href="{{ path('librairie') }}">Librairie</a>
    <a href="#" class="isDisabled">A propos</a>
    <a href="#" class="isDisabled">Datasets</a>
    <a href="#" class="isDisabled">Communeauté</a>
    <a href="#" class="btn-blue-filled-white btn-small isDisabled">Contact</a>
</header>