<header>
    <a href="{{ path('index') }}">Encycl'eau</a>

    <a href="#">EDA 2018</a>
    <a href="#">Librairie</a>
    <a href="#">A propos</a>
    <a href="#">Datasets</a>
    <a href="#">Communeauté</a>
    <a href="#" class="btn-blue-filled-white btn-small">Contact</a>
</header>