body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}
a {
    text-decoration: none;
}
header {
    padding: 17px 0;
    background-color: #4285F4;
}
header a:first-child {
    float: left;
    margin-right: 20%;
    margin-left: 20%;
}
header a {
    font-size: 18px;
    color: white;
    margin: 0 15px;
}
header a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
h1, h2 {
    color: #3D4752;
}
h2 {
    font-size: 36px;
}
li {
    list-style-type: none;
}
/*container*/
.container {
    max-width: 1100px;
    margin: auto;
}

/*Les boutons */
.isDisabled {
    cursor: not-allowed;
    text-decoration: none;
}
.btn-blue-filled-white:hover, .btn-white-filled-blue:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.btn-blue-filled-white {
    background-color: white;
    color: #3267D6;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.btn-white-filled-blue {
    background-color: #4285F4;
    color: white;
    border-radius: 3px;
    padding: 4px 18px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.btn-small {
    padding: 4px 18px;
}
.btn-medium {
    padding: 10px 30px;
}
.line {
    display: inline-block;
    height: 4px;
    background-color: rgba(31, 62, 113, 0.25);
    max-width: 150px;
    width: 200px;
    margin-left: 16px;
    vertical-align: middle;
}


/*Les class*/
.welcome-index {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.welcome-index h1 {
    font-size: 36px;
    margin: 0 5% 30px;
    line-height: 1.2;
}
.display-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.first-box-big {
    width: 667px;
    margin-right: 40px;
    position: relative;
    overflow: hidden;
    min-height: 308px;
}
.first-box-big h2 {
    width: 410px;
}
.first-box-big img {
    position: absolute;
    width: 70%;
    bottom: -5%;
    right: 0%;
    opacity: 0.15;
}
.first-box-big, .second-box-small {
    padding: 20px 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    height: 100%;
}
.second-box-small {
    width: 228px;
    min-height: 308px;
    background-color: #EFEFEF;
}
.second-box-small input {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 40px;
    width: 218px;
    text-indent: 10px;
    margin-bottom: 20px;
}
.first-box-medium, .second-box-medium {
    margin-top: 20px;
    padding: 20px 40px;
    width: 42%;
    border-radius: 16px;
    height: 310px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.first-box-medium h2, .second-box-medium h2 {
    color: white;
    font-size: 38px;
}
.first-box-medium img, .second-box-medium img {
    position: absolute;
    width: 90%;
    bottom: -5%;
    right: -15%;
    opacity: 0.15;
    z-index: -1;
}
.first-box-medium {
    background-image: linear-gradient(-45deg, #77BBFA 0%, #4285F4 100%);
    margin-right: 16px;
}
.second-box-medium {
    background-color: #1F3E71;
}
.cross-ads .display-flex {
    justify-content: center;
}
.cross-ads {
    margin: 60px 0 120px;
}
.cross-ads h2 {
    text-align: center;
}
.cross-item {
    width: 322px;
    height: 212px;
    margin-right: 30px;
    margin-bottom: 70px;
}
.cross-item:last-child {
    margin-right: 0;
}
.cross-item a {
    font-size: 18px;
    color: #3D4752;
}
.cross-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/*EDA page*/
.table-of-contents {
    position: fixed;
    top: 50%;
    background-color: white;
    padding: 15px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.table-of-contents h3 {
    margin: 0;
    color: #3D4752;
}
.table-of-contents a {
    color: #4285F4;
}
.table-of-contents > a {
    color: white;
}
.table-of-contents ul {
    padding: 0;
    line-height: 2;
}
.intro-survey {
    background-color: #1F3E71;
    padding: 60px 0;
}
.intro-survey .display-flex {
    justify-content: space-between;
    margin-top: 0;
}
.intro-survey-1 {
    width: 710px;
}
.intro-survey-1 img {
    float: left;
}
.intro-survey-1 h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.intro-survey-2 {
    width: 306px;
}
.intro-survey-2 p {
    color: white;
    font-size: 19px;
    line-height: 1.3;
}
.main-insights {
    margin: 80px 0;
}
.main-insights ul {
    padding: 0;
}
.main-insights li svg {
    margin-right: 0.5em;
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    fill: #3D4752;
}
.main-insights li span {
    line-height: 1.5em;
    position: absolute;
    font-size: 27px;
    margin-top: -2px;
    color: #3D4752;
}
.body-eda {
    padding: 80px 0;
    background-color: #F0F0F0;
}
.case-eda {
    position: relative;
}
.case-eda > p {
    font-size: 18px;
    color: #3D4752;
    margin-top: 110px;
}
.case-eda > span {
    position: absolute;
    left: 45%;
    margin-top: 40px;
    cursor: pointer;
}
.case-eda img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    width: auto;
}
.code-python {
    font-family: monospace;
    background-color: #fff;
    width: 800px;
    margin: 40px auto -55px;
    padding: 0.5em;
    border-radius: .25em;
    box-shadow: .1em .1em .5em rgba(0,0,0,.45);
    line-height: 0;
    counter-reset: line;
    display: none;
}
.code-python p {
    padding: 10px;
    margin: 0;
    float: right;
    cursor: pointer;
}
.code-python span {
    display: block;
    line-height: 1.5rem;
    color: #3D4752;
}
.code-python span:before {
     counter-increment: line;
     content: counter(line);
     display: inline-block;
     border-right: 1px solid #ddd;
     padding: 0 .5em;
     margin-right: .5em;
     color: #888;
 }

